<head>
    <title>Learning OOP</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>Learning Object Oriented Programming (OOP)</h1>

    <h3>Array Method</h3>
    <div>
        <button onclick="learnSequence()" type="button">Learning Array Sequence</button>
    </div>
    <div>
        <button onclick="learnSequence2()" type="button">Learning Array Sequence 2</button>
    </div>
    <br />

    <h3>Array by Using Splice & Slice</h3>
    <div>
        <button onclick="splice()" type="button">Learning by using Splice</button>
    </div>
    <br />

    <h3>Object Method</h3>
    <div>
        <button onclick="latObject()" type="button">Learning Object Implementation</button>
    </div>
    <br />

    <h3>Function Method</h3>
    <div>
        <button onclick="kalkulatortambah()" type="button">Learning Function in Addition</button>
    </div>
    <br />

    <h3 style="color:forestgreen">Simple Calculator</h3>
    <div>
        <button onclick="paramCalc()" type="button">Calculator for 2 parameters</button>
    </div>
    <br />

    <script src="array.js"></script>
    <script src="splice-slice.js"></script>
    <script src="object.js"></script>
    <script src="function.js"></script>
    <script src="mycalc.js"></script>
</body>